{% extends 'capture/base.html' %}
{% block head %}
  <title>OpenCV Face Detect</title>
{% endblock %}
{% block content %}
<h1>Detect a face:</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {% if post %}
    <img src="{{ post.document.url }}">
    <p>Uploaded image: <a href="{{ post.document.url }}">{{ post.document }}</a></p>
  {% endif %}
  <p><a href="/">Return home</a></p>
{% endblock content %}
